/* :root {
  --primary: #150080;
  --accent: #d08642;
  --bg: #ffffff;
  --bg-accent: #274a6d;
  --disabled: #9c9c9c;
  --foreground: #2d264b;
} */

/* .quiz-container{
  font-family: monospace;
  background: linear-gradient(0deg, var(--primary) 0.03%, var(--accent));
  color: var(--foreground);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
} */

